@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bungee";
    overflow-x: hidden;
 }

html {
    width: 100%;
    height: 100%;
}

 body {
    background-color: #030102;
    color: #FFF;


 }

 img {
    display: block;
    margin: 0 auto ;
    width: auto;
 
 }

.container, div {
   width: auto;
   display: block;
   margin: 20px auto;
   text-align: center;
 }

 p {
   font-size: 30px;
   text-shadow: 4px 5px 40px #FFF;
 }

 input {
   height: 40px;
   margin-right: 10px;
   background-color: #404040;
   color: #FFF;
   font-size: 14x;
 }

 input::placeholder {
   color: #FFF;
   opacity: 0.8;
   padding-left:10px;
 }

button {
   margin-top: 40px;
  background: #e10600;
  color: white;
  border: none;
  padding: 22px 58px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 6px 0 #9c0000;
  cursor: pointer;
  transition: all 0.15s ease;
}

button:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 #9c0000;
}

button:active {
   opacity: .6;
}

.value {
  transition: 0.6s;
  color: #FFF;
  margin-bottom: 20px;

}


@media (max-width: 768px) {
    .container, div {
        width: 100%;
        padding: 10px;
    }

    img {
      width: 350px;
    }
}
